@layout('master')

@section('body')
    <br>
    <div id="content" class="row">
        <div class="columns">
            <div class="column is-10">
                <nav class="breadcrumb is-left" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="is-active"><a href="/posts" aria-current="page">Posts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column is-2 is-right">
                <a href="/posts/create"><button class="button is-link is-outlined"><i class="fas fa-plus"></i> &nbsp;&nbsp;Create new</button></a>
            </div>
        </div>
    </div>
    <br>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Following</p>
            <p class="title">123</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Followers</p>
            <p class="title">456K</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
            <p class="heading">Likes</p>
            <p class="title">789</p>
            </div>
        </div>
    </nav>
    {{--  <div class="columns">  --}}
        @each(post in posts)
            <div class="posts">
                    <article  class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                <p>
                                    <strong>{{ post .title }}</strong>
                                    <br>
                                        {{ post.body }}
                                    <br>
                                    <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
                                </p>
                                </div>
                            
                                <article class="media">
                                <figure class="media-left">
                                    <p class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                    <p>
                                        <strong>Sean Brown</strong>
                                        <br>
                                            Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                                        <br>
                                        <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                                    </p>
                                    </div>
                                </div>
                                </article>
                            </div>
                            </article>
                            <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="field">
                                <p class="control">
                                    <textarea class="textarea" placeholder="Add a comment..."></textarea>
                                </p>
                                </div>
                                <div class="field">
                                <p class="control">
                                    <button class="button is-info">Post comment</button>
                                </p>
                                </div>
                            </div>
                        </article>
            </div>
        @else
            <article class="message is-dark">
                <div class="message-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                </div>
            </article>
        @endeach
    {{--  </div>  --}}
@endsection