@layout('master')

@section('body')
    <br>
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">blog</a></li>
        </ul>
    </nav>
    
@endsection