<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adonis Project</title>
    {{ style('css/bulma.min.css') }}
    {{ style('style.css') }}
</head>
<body>
    <nav class="navbar is-warning" role="navigation" aria-label="main navigation" style="position: fixed; width: 100%">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>

            <a href="/posts" class="navbar-item">
                Posts
            </a>
        
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class="navbar-link">
                    Plus
                </a>
        
                <div class="navbar-dropdown">
                <a href="#" class="navbar-item">
                    About
                </a>
                <a href="#" class="navbar-item">
                    travail
                </a>
                <a href="#" class="navbar-item">
                    Contact
                </a>
                <hr class="navbar-divider">
                <a href="#" class="navbar-item">
                    plus +
                </a>
                </div>
            </div>
            </div>
        
            <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                <a href="/signup" class="button is-primary">
                    <strong>S'authentifier</strong>
                </a>
                <a href="/signin" class="button is-light">
                    S'identifier
                </a>
                </div>
            </div>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            @!section('body')
        </div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>