.posts, #body {
  margin-top: 5%;
  margin-bottom: 5%;
}
#titleForm {
  font-size: 40px;
  font-weight: 600;
}

#content {
  margin-top: 5%;
  position: relative;
}
#contentLogin {
  margin-top: 15%;
  position: relative;
}

.title {
  font-weight: 700;
}